body {
  font-family: 'moneymoney';
  text-align: center;
}

.b {
  background-color: #517FA4;
  width: 100%;
  font-size: 6em;
  line-height: 175px;
  height: 200px;
}

#search {
  margin: -28px 0 0 0;
  color: #514f4A;
  input {
    background-color: white;
    border-color: white;
    font-size: 2em;
    text-align: center;
  }
  button {
    font-size: 1.6em;
  }
}

.b2 {
  margin: -17px 0 0 0;
  line-height: 195px;
  height: 205px;
  span:first-child {
    background-color: white;
    padding: 0 9px;
  }
}

#notices {
  margin-top: -50px;
  font-size: 1.6em;
  color: #ffcc33;
  min-height: 60px;
}

.img {
  margin: 1em 1em 0 1em;
  display: inline-block;
  p {
    font-family: helvetica;
    font-style: italic;
    font-size: 1em;
    color: #aaa;
  }
}

#scorebox {
  position: absolute;
  top: 0;
  left: 0;
  color: #123456;
  p {text-align: left;}
  table {
    border-collapse: collapse;
    td {
      text-align: left;
      padding: 2px 5px 2px 5px;
    }
    td:first-child {
      text-align: right;
    }
    th {
      text-align: center;
      font-size: 16px;
    }
  }
}

#topscore {
  position: absolute;
  top:0;
  right:0;
  padding: 3px;
}

@keyframes spaceboots {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-add {
  -webkit-animation-name: spaceboots;
  animation-name: spaceboots;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@media screen and (max-width: 1270px){
  .subtext {
    display: none;
  }
}

@font-face {
  font-family: 'moneymoney';
  src: url(../fonts/moneymoney.ttf);
}